<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/global_head.html" %}
    <title>Login</title>
    <link href="/static/css/login.css" rel="stylesheet">
    <script src="/static/js/login.js"></script>
</head>
<body>
<!-- Flash messages appear at the top of the screen -->
<section>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show mt-2 ms-2 me-2" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</section>

<!-- Login Box -->
<section>
    <div class="login-box">
        <div class="login">
            <img style="width: 60%;"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Flask_logo.svg/1280px-Flask_logo.svg.png">
            <h2>Reset your password</h2>
            <form action="{{url_for('post_login_user')}}" method="POST">
                <div class="form-floating mb-3">
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
                    <label for="password">New Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="password-confirm" type="password" class="form-control" id="password-confirm" placeholder="Password" required>
                    <label for="password">Confirm Password</label>
                </div>
                <div class="d-grid gap-2 mb-3">
                    <input type="hidden" name="uuid" value="{{uuid}}">
                    <input type="hidden" name="reset-code" value="{{reset-code}}">
                    <input type="submit" value="Reset Password" class="btn btn-primary btn-lg">
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>