<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/global_head.html" %}
    <title>Login</title>
    <link href="/static/css/login.css" rel="stylesheet">
    <script src="/static/js/login.js"></script>
</head>
<body>


<!-- Login Box -->
<section>
    <div class="password-reset-box">
        <div class="login">
            <h2>Reset your password</h2>
            <form action="{{url_for('post_complete_password_reset')}}" method="POST">
                <div class="form-floating mb-3 text-start">
                    <h4>Password Rules</h4>
                    <ul>
                        <li>Passwords must contain at least {{PASSWORD_MIN_CHARACTERS}} characters.</li>
                        <li>Passwords may not contain more than {{PASSWORD_MAX_CHARACTERS}} characters.</li>
                        {% if PASSWORD_REQUIRE_LOWER_CASE %}
                            <li>Passwords must contain at least one lower case letter.</li>
                        {% endif %}
                        {% if PASSWORD_REQUIRE_UPPER_CASE %}
                            <li>Passwords must contain at least one upper case letter.</li>
                        {% endif %}
                        {% if PASSWORD_REQUIRE_NUMERALS %}
                            <li>Passwords must contain at least one number.</li>
                        {% endif %}
                        {% if PASSWORD_REQUIRE_SPECIAL_CHARACTERS %}
                            <li>Passwords must contain at least one special character.</li>
                            <li>Allowed special characters include <pre>{{PASSWORD_LIST_OF_ALLOWED_SPECIAL_CHARACTERS}}</pre></li>
                        {% endif %}
                    </ul>
                </div>
                {% with messages = get_flashed_messages(category_filter=["message"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-primary alert-dismissible fade show mt-2 ms-2 me-2 text-start" role="alert">
                                    {{ message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% with errors = get_flashed_messages(category_filter=["error"]) %}
                        {% if errors %}
                            {% for error in errors %}
                                <div class="alert alert-danger alert-dismissible fade show mt-2 ms-2 me-2 text-start" role="alert">
                                    {{ error|safe }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% with successes = get_flashed_messages(category_filter=["success"]) %}
                        {% if successes %}
                            {% for success in successes %}
                                <div class="alert alert-success alert-dismissible fade show mt-2 ms-2 me-2 text-start" role="alert">
                                    {{ success}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                <div class="form-floating mb-3">
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
                    <label for="password">New Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="password-confirm" type="password" class="form-control" id="password-confirm" placeholder="Password" required>
                    <label for="password">Confirm Password</label>
                </div>
                <div class="d-grid gap-2 mb-3">
                    <input type="hidden" name="uuid" value="{{user_uuid}}">
                    <input type="hidden" name="reset-code" value="{{reset_code}}">
                    <input type="submit" value="Reset Password" class="btn btn-primary btn-lg">
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>