{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block head %}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <p>
      Here are a list of users in the system.
    </p>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Account Creation Date</th>
        </thead>
        <tbody>
            {% for user in all_users%}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.creation_time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}